<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/d7383f5e9e.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>pre lol</title>
  </head>
  <header>
    <span class="title">PREPRO</span>
  </header>
  <div class="navbar">
    <ul class="navbar__menu">
      <li>랭킹</li>
      <li>자유게시판</li>
      <li>분석</li>
      <li>My</li>
    </ul>
  </div>

  <body>
    <div class="matches">
      <div class="match__title">
        <button><i class="fas fa-chevron-left"></i></button>
        <span class="match__day">Today's match</span>
        <button><i class="fas fa-chevron-right"></i></button>
      </div>
      <ul>
        <% if (isEmpty) {%>
          <h1>오늘은 경기가 없습니다.</h1>
          <%} else {%>
            <% for (let i = 0; i < matches.length; i++) { %>
              <li class="match__list">
                <span class="match__date" hidden><%=matches[i].gameStartDate%></span>
                <div class="left__team">
                  <img src="/images/<%=matches[i].homeTeamCode%>.png" alt="team logo" />
                  <span class="team__name"><%=matches[i].homeTeamName%></span>
                </div>
                <span class="vs">VS</span>
                <div class="right__team">
                  <span class="team__name"><%=matches[i].awayTeamName%></span>
                  <img src="/images/<%=matches[i].awayTeamCode%>.png" alt="team logo" />
            <% } %>
          <% } %>
            </div>
          </li>
      </ul>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
