<div class="jumbotron my-5 ">
    <div class="col-md-10 m-auto">
        <h1 class="text-center mb-3">
            <div class="match__title">
                <button class="left-button">
                    <i class="fas fa-caret-left" area-hidden="true" style="color:black; font-size:50px;"></i></button>&nbsp;&nbsp;
                <div class="bold">Ranking</div>&nbsp;&nbsp; 
                <button class="right-button"><i class="fas fa-caret-right" area-hidden="true" style="color:black; font-size:50px;"></i></button>
            </div>
        </h1>
        <br>
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">User</th>
                    <th scope="col">Score</th>
                </tr>
            </thead>
            <tbody>
                <% if (userObj['userCount'] !== 0) { %>
                <% for (let i=0; i<userObj['userData'].length; i++) { %>
                <tr>
                    <td> <%= (userObj.page-1) * userObj['pagePerUsers'] + i+1%></td>
                    <td> <a href="/users/vote/<%=userObj['userData'][i]._id%>"><%= userObj['userData'][i].name%></a></td>
                    <td><%= userObj['userData'][i].point%></td>
                </tr>
                <%}%>
                </tbody>
        </table> 
          
 <br><br>
          
          <table id="page-count">
              <tr>
        <% for (let i = 1; i < userObj['userCount'] / userObj['pagePerUsers'] + 1; i++) {%>
                <td> <a href="/rank/<%=i%>"><%=i%></a></td>
                <%}%><%}%>
                </tr>
        </table>

    </div>
</div>